flask==3.1.1
gunicorn==23.0.0
python-dotenv==1.1.0
openai==1.93.0
pymongo==4.13.2
fpdf==1.7.2
pypdf==5.6.1
pinecone==7.3.0
langchain==0.3.26
langchain-openai==0.3.24
langchain-community==0.3.26
langchain-pinecone==0.2.8
sentence-transformers==3.0.1
numpy==1.26.4
tokenizers==0.19.1
PYTHON_VERSION=3.12.10